/* GLOBAL STYLES */
header,
main {
    width: 1280px;
    padding: 0 24px;
    margin: 0 auto;
}

p,
a,
div,
h1,
h2,
h3,
h4,
h5,
h6,
button,
input,
nav,
i {
    font-size: 16px;
    line-height: 20px;
    color: #000000;
    font-family: "Trip Sans", Arial, Helvetica, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

/* HEADER */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    margin-bottom: 54px;
}
header > div {
    height: 40px;
}
header > a > img {
    height: 40px;
    margin-right: 20px;
}
#search-bar {
    display: flex;
    align-items: center;
    height: 40px;
    width: 350px;
    margin-right: 150px;
    border-radius: 10px;
    border: #e0e0e0 solid 2px;
}
#search-bar > i {
    margin: 0 10px;
    font-size: 18px;
}
#search-input {
    border: none;
    font-family: "Trip Sans", Arial, Helvetica, sans-serif;
    color: #000000;
}
/* Menu */
header > a {
    font-weight: bold;
    text-decoration: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 10px;
}
header > a:hover {
    border: solid #000000 2px;
    border-radius: 10px;
    color: #333333;
    /* ci-dessus ne fonctionne pas */
}

header > a > i {
    margin-right: 8px;
    font-size: 18px;
    vertical-align: bottom;
}
/* Sign-in/Sign-up button */
header > button {
    height: 40px;
    background-color: #000000;
    border-radius: 20px;
    color: #ffffff;
    padding: 0 16px;
    border: none;
    font-weight: bold;
}
header > button:hover {
    opacity: 0.8;
}

/* MAIN */

/* Menu section */
h1 {
    font-size: 54px;
    font-weight: bold;
    margin-bottom: 42px;
}

h1 > span {
    color: #fb5d5d;
}

nav {
    /* display: flex;
    justify-content: space-between; */
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-column-gap: 16px;
    margin-bottom: 24px;
}

nav > a {
    /* flex: 1; */
    border: 1px #000000 solid;
    font-weight: bold;
    text-decoration: none;
    border-radius: 10px;
    padding: 12px 18px;
    display: flex;
    justify-content: space-between;
}
nav > a:hover {
    background-color: #000000;
    transition: 0.5s ease;
    color: #ffffff;
    text-decoration: none;
}

nav > a > i {
    font-size: 18px;
}

#hero {
    height: 430px;
    display: flex;
    margin-bottom: 18px;
    position: relative;
}

#more-pictures-button {
    color: #ffffff;
    font-size: 12px;
    background-color: rgba(0, 0, 0, 0.5);
    border: none;
    border-radius: 20px;
    position: absolute;
    bottom: 10px;
    left: 10px;
    padding: 10px;
}
#more-pictures-button > i {
    font-size: 16px;
    margin-right: 10px;
    vertical-align: middle;
    color: #ffffff;
}

#hero-left {
    flex: 5;
    height: 430px;
    margin-right: 2px;
}
#left-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px 0 0 10px;
}
section img:hover {
    opacity: 0.9;
}

#hero-right {
    flex: 3;
    height: 430px;
    display: flex;
    flex-direction: column;
}
#hero-right > div:first-child {
    overflow: hidden;
    border-radius: 0 10px 0 0;
    margin-bottom: 1px;
}
#hero-right > div:last-child {
    overflow: hidden;
    border-radius: 0 0 10px 0;
    margin-top: 1px;
}

#top-right-img {
    width: 100%;
    height: 215px;
    object-fit: cover;
}

#bottom-right-img {
    width: 100%;
    object-fit: cover;
    object-position: center;
}

#links-after-pictures {
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
}
#links-after-pictures > p,
#links-after-pictures > p > a,
#links-after-pictures > p > i {
    font-size: 12px;
    color: #333333;
    text-decoration: none;
}
#links-after-pictures > p > a:hover {
    color: #333333;
    text-decoration: underline #333333;
}
#links-after-pictures > p > a:visited {
    color: #333333;
    text-decoration: none;
}
/* Section intro */
#intro {
    display: flex;
}
#intro-left {
    flex: 5;
}

#intro-left > h2 {
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 18px;
}
#intro-left > p {
    font-size: 20px;
    font-family: Georgia, "Times New Roman", Times, serif;
    line-height: 24px;
}
#intro-right {
    flex: 4;
    margin-left: 110px;
}

#intro-right > div {
    background-color: #fb5d5d;
    border-radius: 10px 10px 0 0;
    padding: 30px;
}

#intro-right > div > h3 {
    font-size: 32px;
    font-weight: bold;
    margin: 10px 0 20px 0;
}
#intro-right > div > button {
    height: 55px;
    background-color: #000000;
    border-radius: 20px;
    color: #ffffff;
    padding: 0 16px;
    border: none;
    font-weight: bold;
    margin-top: 20px;
}
#intro-right > div > button:hover {
    background-color: #333333;
}
#intro-right > img {
    height: 180px;
    object-fit: cover;
    width: 100%;
    border-radius: 0 0 10px 10px;
}

/* FOOTER */
footer {
    height: 150px;
    background-color: #faf1ed;
    margin-top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}
footer > p {
    font-size: 12px;
}

/* SECTIONS */
.section h2 {
    font-size: 28px;
    font-weight: bold;
    text-align: center;
    margin: 85px 0 50px 0;
    position: relative;
}
.section h2 span {
    background-color: #ffffff;
    padding: 0 15px;
}
.section h2::before {
    display: block;
    content: "";
    border-bottom: 1px solid #000000;
    width: 100%;
    position: absolute;
    top: 50%;
    z-index: -1;
}
