/* GLOBAL STYLES */
body {
    width: 1280px;
    padding: 0 24px;
    margin: 0 auto;
    color: #000000;
    font-family: "Trip Sans", Arial, Helvetica, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

p,
button,
input {
    font-size: 16px;
}

/* HEADER */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    margin-bottom: 34px;
}
header > img {
    height: 40px;
}
#search-bar {
    display: flex;
    align-items: center;
    height: 40px;
    width: 350px;
    margin-right: 15%;
    border-radius: 10px;
    border: #e0e0e0 solid 2px;
}
#search-bar > i {
    margin: 0 10px;
    font-size: 18px;
}
#search-input {
    border: none;
    font-family: "Trip Sans", Arial, Helvetica, sans-serif;
    color: #000000;
}

header > p {
    font-weight: bold;
}

header > p > i {
    margin-right: 8px;
    font-size: 18px;
    vertical-align: bottom;
}

header > button {
    height: 40px;
    background-color: #000000;
    border-radius: 20px;
    color: #ffffff;
    padding: 0 16px;
    border: none;
    font-weight: bold;
}

/* MAIN */

/* Menu section */
h1 {
    font-size: 54px;
    font-weight: bold;
    margin-bottom: 26px;
}

h1 > span {
    color: #fb5d5d;
}

#section-buttons {
    /* display: flex;
    justify-content: space-between; */
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-column-gap: 16px;
    margin-bottom: 24px;
}

#section-buttons > div {
    /* flex: 1; */
    border: 1px #000000 solid;
    border-radius: 10px;
    padding: 16px;
    display: flex;
    justify-content: space-between;
}
/* #section-buttons > div:not(7) {
    margin-right: 16px;
} */

#section > div > p {
    font-weight: bold;
}

#section > div > i {
    font-size: 18px;
}

#pictures {
    height: 430px;
    display: flex;
    margin-bottom: 18px;
    position: relative;
}

#more-pictures-button {
    color: #ffffff;
    font-size: 12px;
    background-color: rgba(0, 0, 0, 0.5);
    border: none;
    border-radius: 20px;
    position: absolute;
    bottom: 10px;
    left: 10px;
    padding: 10px;
}
#more-pictures-button > i {
    font-size: 16px;
    margin-right: 10px;
    vertical-align: bottom;
}

#pictures-left {
    background-image: url("../img/paris1.jpg");
    background-size: cover;
    background-position: center;
    border-radius: 10px 0 0 10px;
    height: 430px;
    flex: 3;
    margin-right: 2px;
}

#pictures-right {
    flex: 2;
    display: flex;
    flex-direction: column;
    height: 430px;
}

#pictures-right-top {
    background-image: url("../img/paris2.jpg");
    background-size: cover;
    background-position: center;
    border-radius: 0 10px 0 0;
    height: 215px;
    margin-bottom: 2px;
}

#pictures-right-bottom {
    background-image: url("../img/paris3.jpg");
    background-size: cover;
    background-position: center;
    border-radius: 0 0 10px 0;
    height: 215px;
}
